<a href="https://colab.research.google.com/github/Niharika-Ravela/Niharika_INFO5502_Summer2022/blob/main/lab_assignment_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The second Lab-assignment (07/19/2022 11:59'AM' - 07/22/2022 11:59PM, 50 points in total)**

# Question 1

(5 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [1]:
# Your code here
import random
from statistics import mean

list_var = random.sample(range(1,101),12)
print("List of random numbers ascending order : ")
list_var.sort()
print(list_var)
print("List of random numbers descending order : ")
list_var.sort(reverse=True)
print(list_var)
print("Average for the group : ")
print(mean(list_var))

List of random numbers ascending order :
[1, 5, 16, 26, 30, 31, 64, 77, 80, 83, 85, 90]
List of random numbers descending order :
[90, 85, 83, 80, 77, 64, 31, 30, 26, 16, 5, 1]
Average for the group :
49

# Question 2 

(5 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [2]:
# Your code here
import pandas as pd
def volume(r):
  V = ((4/3) * 3.14 * (r * r * r))
  return V
Volume = []
Radius = []
for i in range(1,11):
  Volume.append(volume(i))
  Radius.append(i)
df = pd.DataFrame(Volume,Radius)
df.rename(columns = {0:'V'}, inplace = True)
df

              V
1      4.186667
2     33.493333
3    113.040000
4    267.946667
5    523.333333
6    904.320000
7   1436.026667
8   2143.573333
9   3052.080000
10  4186.666667

# Question 3

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [lab_assignment_02_denton_housing.csv](https://github.com/suthapalliuday/INFO5502-Summer2022/blob/main/datasets/lab_assignment_02_denton_housing.csv) included with this assignment. The file [lab_assignment_02_denton_housing.csv](https://github.com/suthapalliuday/INFO5502-Summer2022/blob/main/datasets/lab_assignment_02_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [3]:
# Your code here
import pandas as pd
import numpy as np
import statistics

df = pd.read_csv("https://raw.githubusercontent.com/suthapalliuday/INFO5502-Summer2022/main/datasets/lab_assignment_02_denton_housing.csv")
df.head()

#1 (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.
occupied_houses = df[df['title_field'] == 'Occupied Housing Units'].sort_values(by=['year'])

diff = [list(occupied_houses['value'].values)[i] - list(occupied_houses['value'].values)[i+1] for i in range(len(occupied_houses)-1)]
diff = sorted(diff)
print(diff)

[-5091, -2622, -1565, -1404, 303, 795]

In [4]:
#2 (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:
years = sorted(list(df['year'].unique()))
occupied_houses = df[df['title_field'] == 'Occupied Housing Units'].sort_values(by=['year'])
vacant_houses = df[df['title_field'] == 'Vacant Housing Units'].sort_values(by = ['year'])
new_df = pd.DataFrame()
new_df['year'] = years
new_df['Vacant_House'] = vacant_houses['value'].values
new_df['Occupied_House'] = occupied_houses['value'].values
new_df['Percentage_of_Vacant_House'] = [(new_df['Vacant_House'][i]*100)/(new_df['Vacant_House'][i]+new_df['Occupied_House'][i]) for i in range(len(new_df))]
new_df['Percentage_of_Occupied_House'] = [(new_df['Occupied_House'][i]*100)/(new_df['Vacant_House'][i]+new_df['Occupied_House'][i]) for i in range(len(new_df))]
print(new_df)

   year  Vacant_House  Occupied_House  Percentage_of_Vacant_House  \
0  2008          4483           36711                   10.882653
1  2009          3583           35916                    9.071116
2  2010          3635           41007                    8.142556
3  2011          4213           40704                    9.379522
4  2012          3013           42108                    6.677600
5  2013          4215           43673                    8.801788
6  2014          2814           46295                    5.730111

   Percentage_of_Occupied_House
0                     89.117347
1                     90.928884
2                     91.857444
3                     90.620478
4                     93.322400
5                     91.198212
6                     94.269889

In [5]:
#3 (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:
max_vacant_houses = max(df[df['title_field'] == 'Vacant Housing Units'].value)
vacant_houses = vacant_houses[vacant_houses['value'] == max_vacant_houses]
print(vacant_houses) #higest vacant houses
max_occupied_houses = max(df[df['title_field'] == 'Occupied Housing Units'].value)
occupied_houses = occupied_houses[occupied_houses['value'] == max_occupied_houses]
print(occupied_houses) #highest occupied houses

    year           title_field  value
19  2008  Vacant Housing Units   4483
   year             title_field  value
2  2014  Occupied Housing Units  46295

In [6]:
#4 (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm
hm = statistics.harmonic_mean(list(df[df['title_field'] == 'Total Housing Units'].value))
print("The Harmonic mean is: ",hm)

The Harmonic mean is:  44398.28543969185